<a href="https://colab.research.google.com/github/KrishnaSuryawanshii/Comcast-Telecom-Consumer-Complaints/blob/main/Amazon_Recomendation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
#!pip install surprise
import surprise

In [ ]:
#!pip install surprise

In [ ]:
df = pd.read_csv("Amazon - Movies and TV Ratings.csv")
df.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [ ]:
df.shape

(4848, 207)

In [ ]:
df_org = df.copy()

In [ ]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

Task 1 - Which movies have maximum views/ratings?

In [ ]:
#Movie with highest views
df.describe().T['count'].sort_values(ascending=False)[:1].to_frame()

           count
Movie127  2313.0

In [ ]:
#Movie with highest Ratings
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:1].to_frame()

               0
Movie127  9511.0

Task 2 - What is the average rating for each movie? Define the top 5 movies with the maximum ratings

In [ ]:
df.drop('user_id',axis=1).mean().sort_values(ascending=False)[:5].to_frame()

            0
Movie1    5.0
Movie55   5.0
Movie131  5.0
Movie132  5.0
Movie133  5.0

Task 3 - Define the top 5 movies with the least audience

In [ ]:
df.describe().T['count'].sort_values(ascending=True)[:5].to_frame()

          count
Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0

Task 4 - Recommendation Model

In [ ]:
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

In [ ]:
df_melt = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],var_name="Movies",value_name="Rating")

In [ ]:
df_melt

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [ ]:
rd = Reader()
data = Dataset.load_from_df(df_melt.fillna(0),reader=rd)
data

In [ ]:
trainset, testset = train_test_split(data,test_size=0.25)

In [ ]:
#Using SVD (Singular Value Descomposition)
svd = SVD()
svd.fit(trainset)

In [ ]:
pred = svd.test(testset)

In [ ]:
accuracy.rmse(pred)

RMSE: 1.0263

1.0263492802361456

In [ ]:
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0263  1.0264  1.0258  1.0262  0.0002
MAE (testset)     1.0121  1.0122  1.0120  1.0121  0.0001
Fit time          38.72   39.16   39.26   39.04   0.24
Test time         3.94    3.47    3.46    3.62    0.22

{'fit_time': (38.715497970581055, 39.15865659713745, 39.25820183753967),
 'test_mae': array([1.01213409, 1.01217163, 1.01195598]),
 'test_rmse': array([1.02625256, 1.0263884 , 1.02584756]),
 'test_time': (3.9362106323242188, 3.4742510318756104, 3.4597554206848145)}

In [ ]:
def repeat(ml_type,dframe):
    rd = Reader()
    data = Dataset.load_from_df(dframe,reader=rd)
    print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
    print("--"*15)
    usr_id = 'A3R5OBKS7OM2IR'
    mv = 'Movie1'
    r_u = 5.0
    print(ml_type.predict(usr_id,mv,r_ui = r_u,verbose=True))
    print("--"*15)

In [ ]:
repeat(SVD(),df_melt.fillna(df_melt['Rating'].mean()))
#repeat(SVD(),df_melt.fillna(df_melt['Rating'].median()))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0890  0.0810  0.0887  0.0862  0.0037
MAE (testset)     0.0099  0.0096  0.0100  0.0098  0.0002
Fit time          38.76   39.12   39.29   39.06   0.22
Test time         3.66    4.11    3.65    3.81    0.21
{'test_rmse': array([0.08898682, 0.08097206, 0.08871455]), 'test_mae': array([0.00991935, 0.00960248, 0.01001222]), 'fit_time': (38.76217699050903, 39.1231324672699, 39.29194784164429), 'test_time': (3.658571720123291, 4.108911752700806, 3.649104118347168)}
------------------------------
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.40   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.40   {'was_impossible': False}
------------------------------

In [ ]:
#trying grid search and find optimum hyperparameter value for n_factors
from surprise.model_selection import GridSearchCV

In [ ]:
param_grid = {'n_epochs':[20,30],
             'lr_all':[0.005,0.001],
             'n_factors':[50,100]}

In [ ]:
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
data1 = Dataset.load_from_df(df_melt.fillna(df_melt['Rating'].mean()),reader=rd)
gs.fit(data1)

In [ ]:
gs.best_score

{'mae': 0.009088914879717568, 'rmse': 0.0848037343258638}

In [ ]:
print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.0848037343258638
{'n_epochs': 30, 'lr_all': 0.001, 'n_factors': 50}